.container {
  width: var(--page-width);
}

.buttonHighlight {
  border: 0;
  background-color: transparent;
  color: var(--magenta-50)
}

.articleFooter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
